        <div id='page-footer'>
        </div>
        
        <!-- 
            Standard Scripts 
          -->
        <script src="/platform/external/bootstrap/js/bootstrap.min.js"></script>
        <script src="/platform/external/moment-1.6.2.min.js"></script>
<!--
        <script src="/lib/datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/lib/validate/jquery.validate.js"></script>
-->
        
        
<!--         <script src="/platform/pusher/script/pusher.web.js"></script> -->
        <script src="/platform/pusher/script/pusher.markdown.js"></script>
        <script src="/platform/pusher/script/pusher.color.js"></script>
        <script src="/platform/pusher/script/pusher.image.js"></script>
        <script src="/platform/pusher/script/pusher.data.js"></script>
        <script src="/platform/pusher/script/pusher.mvc.js"></script>  

       <!--  <script src="/script/app-client.js"></script>   -->
        
        {{#page.js}}<script type="text/javascript" src="{{{page.js}}}"></script>{{/page.js}}
        
        <script type='text/javascript'>
        <!--
        $(function() {
            $('.MD').markdown();
        });
        -->        
        </script>