    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{{page.title}}</title>
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Stylesheets -->
    <link href="/platform/external/bootstrap-2.0.3-sans_icons/css/bootstrap.min.css" rel="stylesheet">        
    <link href="/platform/external/font_awesome-2.0.0/css/font-awesome.css" rel="stylesheet" type="text/css" >

    <link href="/style/theme.less" rel="stylesheet/less" type="text/css" >
    <link href="/style/app.less" rel="stylesheet/less" type="text/css" > 
    
    {{#page.less}}<link href="{{{page.less}}}" rel="stylesheet/less" type="text/css" >{{/page.less}}
    {{#page.css}} <link href="{{{page.css}}}"  rel="stylesheet" type="text/css" >{{/page.css}}
    
    <!-- Header Scripts  -->
    <script type="text/javascript" src="/platform/external/less-1.3.0.min.js"></script>
    <script type='text/javascript' src="/platform/external/underscore-1.3.3.min.js"></script>
    <script type='text/javascript' src="/platform/external/jquery-1.8.0.min.js"></script>
    
    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25109498-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>