
<!-- Navigation Bar Section -->
            
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/" style='margin-right: 0em;'>{{page.title}}</a>
      
      <ul class="nav">
        <li><a href="/{{user.group}}/settings">{{user.name}}</a></li>
      </ul>
      {{#user.isAdmin}}
      <ul class="nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Admin Menu
                <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/settings">Admin</a></li>
                <li><a href="/author/create">Author</a></li>
                <li><a href="/editor/queue">Editor</a></li>
                <li><a href="/client/queue">Client</a></li>
                <li class="divider"></li>
                <li><a href="/api/objects/clientArticle/publishApproved" target="_blank">Publish Pending Articles</a></li>
            </ul>
          </li>
      </ul>
      {{/user.isAdmin}}
      
      {{#user.group}}
      <div class="nav-collapse">
        <ul class="nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Help
                    <b class='caret'></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#modalAppFeedback" data-toggle="modal">Send Feedback</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </li>
          <li><a id="logoutLink" href='/logout'>Log out</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      {{/user.group}}
      
    </div>
  </div>
  
  <div id='navbarSpinner' class='hide'>
    <div class='navbarSpinnerText'>
        <img src='/image/ajaxLoader-redSmall.gif' />
        <span style='padding-left: 1em'>Working...</span>
    </div>
  </div>

</div>



<div style='height: 6em'></div>

{{>modalAppFeedback}}

