<!doctype html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    <body>
        {{>modalAlert}}
        {{>modalConfirm}}
        {{>modalPrompt}}
        
        <!-- Page Content -->
        <div id='page_header'>
            {{>navbarTop}}
        </div>
        <div id='page-content-outer'>
            <div class='container'>