@import "colors.less";

/* Global */
body {
    background-color: #fff;
    background: url("/image/grey.png") repeat;
    
}

/* Links */
a {
    color: #3B5998;
}
a:hover {
    color: #607ebe;
    text-decoration: none;
}

/* Typography */
.box h1, .box h2, .box h3, .box h4, .box h5 , .box h6 {
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a.cancel {
    color: #B20101;
}
a.cancel:hover {
    text-decoration: underline;
}

/* Buttons */
.btn-primary {
  background-color: #3B5998;
  background-image: -moz-linear-gradient(top, #446ec7, #3B5998);
  background-image: -ms-linear-gradient(top, #446ec7, #3B5998);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#446ec7), to(#3B5998));
  background-image: -webkit-linear-gradient(top, #446ec7, #3B5998);
  background-image: -o-linear-gradient(top, #446ec7, #3B5998);
  background-image: linear-gradient(top, #446ec7, #3B5998);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#446ec7', endColorstr='#3B5998', GradientType=0);
  border-color: #446ec7 #3B5998 #446ec7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3B5998;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #3B5998;
  *background-color: #3B5998;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #3B5998 \9;
}


/* Navbar */
.navbar .brand {
float: left;
display: block;
padding: 8px 20px 12px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
line-height: 1;
font-weight: 300;
color: rgba(234,234,234,1);
text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
transition: all .2s linear;
}

/* Header */
#header {
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -ms-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    height: 70px;
    margin-bottom: 20px;
    position: relative;
}
#header form {
    margin: 0 !important;
}
#header > a > img {
    margin: 10px 0 0 25px;
}
#header .hright {
    position: relative;
    float: right;
    margin-right: 30px;
}
#header .column {
    float: left;
    padding: 17px 10px;
    position: relative;
}
#header .search input {
    background: #222222;
    box-shadow: 0 -1px 0 #444444 inset, 0 1px 8px rgba(0,0,0,0.5) inset !important;
    border: none !important;
    padding: 8px 10px;
    color: #666666;
    margin-bottom: 0;
}
#header .userinfo {
    background: none no-repeat scroll top left #373737;
    border: 1px solid #272727;
    box-shadow: 0 1px 0 #444444;
    color: #CCCCCC;
    display: inline-block;
    padding: 4px 10px 2px 3px;
    position: relative;
    vertical-align: top;
    min-width: 80px;
}
#header .userinfo img {
    vertical-align: middle;
    margin-right: 10px;
}
#header .userinfo span {
    width: auto;
    display:inline-block !important;
}
#header .dropdown-menu {
    margin-top: -13px;
    margin-left: -35px !important;
}

/* Left Menu */
.leftNav ul {
    margin: 0;
    list-style: none; 
}
.leftNav ul ul {
    display: none;
    margin-left: 35px;
    margin-top: -1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);  
}
.leftNav ul li {
    display: block;
    width: 100%;
    line-height: 44px;
}
.leftNav ul li a {
    border-style: none solid solid;
    border-width: 0 1px 1px;
    border-color: #dddddd;
    color: #666666;
    font-size: 14px;
    display: block;
    font-weight: 300;
    background-color: #ffffff;    
}
.leftNav ul li:first-child a {
    border-top: 1px solid #DDDDDD;
}

.leftNav ul li a span.ico {
    display: inline-block;
    background: #f9f9f9;
    padding: 8px 10px 6px;
    margin: 0 15px 0 0;
    border-right: 1px solid #dddddd;
}
.leftNav ul li a, .leftNav ul li a span.ico {
    -webkit-transition: background 0.2s ease-in-out;
       -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
         -o-transition: background 0.2s ease-in-out;
            transition: background 0.2s ease-in-out;
}
.leftNav ul li a:hover {
    background-color: #f5f5f5;
    color: #000000;
}
.leftNav ul li a:active {
    background-color: #f5f5f5;
}
.leftNav ul li a:hover span.ico {
    background-color: #efefef;
}
.leftNav ul li.active a {
    background-color: #333333;
    color: #ffffff;
}
.leftNav ul li.active a span.ico {
    background-color: #111111;
    border-right: 1px solid #444444;
}
.leftNav ul li.active a span.ico i {
    background-image: url("../shared/bootstrap/img/glyphicons-halflings-white.png");
}
.leftNav ul li.hider a {
    margin-top: 5px;
    height: 20px;
}

.leftNav.smallNav > ul {
    width: 37px !important;
}
.leftNav.smallNav ul ul {
    position: absolute;
    z-index: 20;
    margin-top: -34px;
}
.leftNav.smallNav > ul > li > a > span.text {
    display: none;
}
.leftNav.smallNav ul ul > li > a {
    min-width: 200px !important;
}
.leftNav.smallNav span.text {
    padding-right: 15px;
}

.nav .disabled>a {
    color: #999;
    cursor: default;
}



/* iPhone style checkboxes and radios */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../img/switch.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }
.switch label { cursor: pointer; }
.switch input { display: none; }




/* Misc */
#tooltip {
    background-color: #000000; /* Required for < IE9 to show the correct background */
    background-color: rgba(0,0,0,0.5);
    font-size: 11px;
    padding: 3px 6px;
    color: #fff;
    border-radius: 3px;
}
.help-inline, .help-block {
    color: #888;
    font-style: italic;
}
.controls input[type=radio], .controls input[type=checkbox] {
    margin-top: 0 !important;
}
.input-append input {
    margin-right: -4px;
}

.label, .badge {
    background-color: @niceBlue;
}


/* Helpers */

.nopadding {
    padding: 0;
}
.inline {
    display: inline !important;
    margin-bottom: 3px !important;
}
.center {
    text-align: center !important;
}








/* Responsive Stuff */

@media (max-width: 479px) {

    #header {
        border-bottom: 1px solid #111111;
    }
    #header > a {
        display: block;
        width: 100%;
        text-align: center;
    }
    #header > a > img {
        margin: 10px 0 0 0;
    }
    #header .hright {
        float: none !important;
        border-top: 1px solid #444444;
        background: #222222;
        height: 55px;
        margin: 11px 0 0;
        box-shadow: 0 0 7px rgba(0,0,0,0.6);
    }
    #header .column {
        padding: 10px 17px;
    }
    
    #header .search input {
        width: 100px !important;    
    }
    #header #userinfo {
        float: right;
    }
    #header .dropdown-menu {
        margin-top: -6px;    
    }
    #container {
        margin-top: 20px;   
    }
    #content {
        width: 82% !important;
    }
    .box.login .box-content .controls {
        margin-left: 0px;
    }
    .nopadding .form-horizontal .control-label {
        border-left: 0;
        border-bottom: 1px solid #eeeeee;
        padding-left: 15px;    
    }
    
    .dataTables_wrapper input {
        width: 75px;
    }
}
@media (max-width: 767px) {
    body {
        padding: 0;
    }
    #header .search input {
        width: 65px;    
    }
    #container {
        padding: 0 20px; 
    }
    .row-fluid .leftNav {
        width: 37px !important;
        float: left;
    }

    #content {
        position: absolute;
        margin-left: 50px;
        width: 87%;
        max-width: 84%;
        margin-right: 50px;
    }

    .quick-actions [class*="span"] {
        width: 31.9149%; 
        float: left;  
        margin: 0 .7%;
    }
    
    .dataTables_info {
        bottom: 8px;
        left: 30%;
    }
    .dataTables_paginate {
        padding-bottom: 35px;
    }
}