<!doctype html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    <body>
        
        <!-- Page Content -->
        <div id='page_header'>
            {{>navbarTop}}
        </div>
        
        <div id='page-content-outer' style="margin-top: -3em">        
            <div class='container'>     
                <div class="row">
                    <div id="mainContent" class="span12">
                        <div class="row">
                            <h2>Projects</h2>
                            
                            <div class="projects-container">
                              <ul class="projects-list">
                                  
                              </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>
