#logoutLink
{
    display : none;
}


ul.projects-list {
    
    margin-top: 20px;
    list-style-type: none;
    
    li {
        font-size: 16px;
        padding-bottom: 10px;
        
    }
    
    i {
        color: #3276ba;
    }
    
}